<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >

  <title>WIN: Women-Inspired Negotiation</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/mylogo.png"/>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css">

</head>

<body>
<i class="fa fa-spin fa-refresh fa-5x" id="loader"></i>
<div class="container" data-ng-app="myApp"> 

  <div class="page-header">
    <img src="/src/armsraised-icon.jpg" alt="logo" class="img-circle col-xs-1">
    <h1>WIN: Women-Inspired Negotiation<small> for women who want more</small></h1>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
      <img src="/src/Insecure.jpg" alt="Afraid" class="img-circle-icon">
      Insecure</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
      <img src="/src/Anxious.jpg" alt="Anxious" class="img-circle-icon">
      Anxious</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
      <img src="/src/Embarassed.jpg" alt="Embrassed" class="img-circle-icon">
      Embrassed</button>
    </div>
        <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
      <img src="/src/Frustrated.jpg" alt="Frustrated" class="img-circle-icon">
      Frustrated</button>
    </div>
  </div>

  <h2 class="text-center">Don't know about your feelings?</h2>
  <a class="btn btn-danger" href="https://docs.google.com/forms/d/1MxxQRkIp2lTXhQQlX9mQTG68PT-CofeXHTKGcjSHX9o/viewform" role="button">Take the assessment</a>
</br>
</br>
  <hr>

  <h2>Negative Feelings</h2>
        <div class="row">
        <div class="col-xs-1">
          <img src="/src/Expert.jpg" class="img-thumbnail img-responsive img-rounded" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;">
          
        </div>  
        <div class="col-xs-11" ng-class-odd="'col-xs-pull-2'">
          <div class="panel panel-default">
            <div class="panel-body">
            <ul>
              <li>I don’t know if I’m worth what I’m asking for</li>
              <li>I don’t have enough work experience to know what I’m worth </li>
              <li>I have a hard time believing in my value </li>
              <li>I wonder if I’m really talented enough to do this job & whether I deserve the salary I want</li>
              </ul>
              <br>
              <span class="label label-info">Insecure</span>
              <a class="btn btn-primary" href="#" role="button">Related Resources</a>
            </div>
          </div>
        </div><!--/col-->
      </div><!--/row-->

    <h2 class="text-center">What others have to say</h2>
  
  <div class="row">
        <div class="col-xs-1">
          <a href="/src/Expert.jpg"><img src="/src/user.png" class="img-thumbnail img-responsive img-circle" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;"></a>
        </div>  
        <div class="col-xs-11" ng-class-odd="'col-xs-pull-2'">
          <div class="panel panel-default">
            <div class="panel-body" style="font-style: italic;">
            <p>“I was really unsure if I deserved the salary I was asking for. The WIN app prompted me to check online salary data, which helped me reframe my thinking so I could trust in my own value. I also did a role play with a peer mentor I found on WIN.” </p>

              <br>  
              <span class="label label-info">Insecure</span>

            </div>
          </div>
        </div><!--/col-->
      </div><!--/row-->

  <div class="row" ng-app="myApp" data-ng-controller="profileController">
    <div ng-repeat="e in data.experiences" class="col-sm-12">
      
      <div class="row">
        <div class="col-xs-1">
          <img title="{{u.user.name.first}}" src="src/user.png" class="img-thumbnail img-responsive img-circle" ng-class-even="'pull-right'" ng-class-odd="'pull-left'" style="width:70px;">
        </div>  
        <div class="col-xs-11 " >
          <div class="panel panel-default">
            <div class="panel-body" style="font-style: italic;">
              <p> "{{e.content}}" </p> <br>
              <span class="label label-info">{{e.tags}}</span>
            </div>
          </div>
        </div><!--/col-->
      </div><!--/row-->
    
  	</div><!--/col-->
  
  </div><!--/row-->


  <div class="row">
  
  	<hr>
    
    <h2 class="text-center">Wanna share your experience?</h2>
    
    <div class="col-sm-12">
    	<div class="input-group">
      		<input class="form-control" rows="50" placeholder="Add to the conversation" id="inputText" type="text">
      		<span class="input-group-addon" ng-click="doPost()">Post</span>
      	</div>
    </div>
    
    <div class="clearfix"></div>
    
    <hr>
  
  </div>
  
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h1 id="myModalLabel" class="text-center"></h1>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
          	<div class="row">
            	<div class="col-xs-4 col-xs-offset-4"><img src="{{currUser.picture}}" class="img-thumbnail img-responsive img-circle"></div>
            </div>
            <hr>
            <div class="row">
              <h4 class="text-center"><i class="fa fa-fw fa-map-marker fa-2x"></i> {{currUser.location.street}} {{currUser.location.city}}, {{currUser.location.state}}</h4>
              <h4 class="text-center"><i class="fa fa-fw fa-phone fa-2x"></i> {{currUser.cell}}</h4>
              <h4 class="text-center"><i class="fa fa-fw fa-envelope-o fa-2x"></i> {{currUser.email}}</h4>
              <h4 class="text-center"><i class="fa fa-fw fa-user fa-2x"></i> {{currUser.username}}</h4>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-info">
            <button class="btn btn-lg btn-default center-block" data-dismiss="modal" aria-hidden="true">Okay!</button>
        </div>
    </div>
    </div>
  </div><!--/modal-->
  
</div><!--/container-->

        <div id="selectedTarget">
            Existing content.
        </div>

  <script src='lib/angular/angular.js'> </script>
  <script src='lib/angular/angular-route.js'> </script>
  <script src='lib/angular/angular-resource.js'> </script>
  <script src='/js/app.js'> </script>
  <script src='/js/service.js'> </script> 
  <script src='/js/config/routes.js'> </script> 
  <script src='/js/controllers/assessmentController.js'> </script>
  <script src='/js/controllers/contentController.js'> </script>
  <script src='/js/controllers/profileController.js'> </script>
  <script src='/js/controllers/EventListController.js'> </script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>

</body>
</html>
